<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Files</title>
</head>
<body>
    <form action="added" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      Product Name  &nbsp; :  <input type="text" placeholder="Enter your Product Name" name= "name"><br><br>
      Product Rate  &nbsp; :  <input type="text" placeholder="Enter a Product Price" name="rate"><br><br>
      Product Photo : <input type="file" name="photo"><br><br>

      <button>SUBMIT</button>
    </form>

</body>
</html>